<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to TaskFlow, <%= @user.username %>!</h1>
    <p>
      Thank you for signing up. We're excited to have you on board.
    </p>
    <p>
      You can now start managing your tasks efficiently.
    </p>
  </body>
</html>
